<!DOCTYPE html>
<html>
<head>
    <title>Lista de Tareas</title>
</head>
<body>
    <h1>Lista de Tareas</h1>
    <ul>
        {% for tarea in tareas %}
        <li>{{ tarea[1] }} - {{ tarea[2] }} 
            {% if tarea[2] == 'No Completado' %}
            <a href="{{ url_for('completar_tarea', id=tarea[0]) }}">Marcar como Completado</a>
            {% endif %}
            <a href="{{ url_for('eliminar_tarea', id=tarea[0]) }}">Eliminar</a>
        </li>
        {% endfor %}
    </ul>
    <h2>Agregar Nueva Tarea</h2>
    <form method="POST" action="/agregar_tarea">
        <input type="text" name="descripcion" placeholder="Descripción de la tarea" required>
        <button type="submit">Agregar</button>
    </form>
</body>
</html>
